
body{
    background-color:#e8d6ff;  
    background-size: cover;
    height: 100vh;
    font-size: 10px;
    background-position:left;
    font-family: Arial, sans-serif;
    font-size: 18px;
     background-image: url(img/fondo1.jpg);
     min-height: 100vh;
}
